<div class="container">
  <div class="mat-elevation-z8">
    <mat-card class="excluirProduto">
      <mat-card-title>Excluir Vídeo</mat-card-title>
      <form>
        <mat-form-field>
          <input
            matInput
            placeholder="Título"
            [value]="mediaVideo.title"
            disabled
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Descrição"
            [value]="mediaVideo.description"
            disabled
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Url Vídeo"
            [value]="mediaVideo.urlVideo"
            disabled
          />
        </mat-form-field>
      </form>
    </mat-card>
  </div>

  <button
    class="mb-2 btn btn-outline-danger"
    mat-raised-button
    (click)="deleteMedia()"
  >
    Excluir
  </button>
  <button
    class="mb-2 btn btn-outline-dark"
    mat-raised-button
    (click)="cancel()"
  >
    Cancelar
  </button>
</div>
