<div class="container-fluid">
  <div class="mat-elevation-z2">
    <mat-card class="novoProduto">
      <mat-card-title class="title-matCard">Novo Vídeo</mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="Título" [(ngModel)]="video.title" name="title" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Descrição" [(ngModel)]="video.description" name="description" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="URL Vídeo" [(ngModel)]="video.urlVideo" name="url" />
        </mat-form-field>
      </form>
    </mat-card>
  </div>

  <button class="btn btn-outline-success" mat-raised-button (click)="createVideo()">
    Salvar
  </button>
  <button class="btn btn-outline-dark" mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>