<div class="container-fluid">
  <div class="mat-elevation-z2">
    <mat-card class="excluirProduto">
      <mat-card-title>Excluir Produto</mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="title" [value]="blog.title" name="name" disabled />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Descrição" [value]="blog.description" name="presentation" disabled />
        </mat-form-field>
      </form>
    </mat-card>
  </div>

  <button class="mb-2 btn btn-outline-danger" mat-raised-button (click)="deleteBlog()">
    Excluir
  </button>

  <button class="mb-2 btn btn-outline-dark" mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>
<app-footer></app-footer>