<div class="container-fluid">
  <div class="mat-elevation-z2">
    <mat-card class="novoProduto">
      <mat-card-title>Alterar Item</mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Apresentação" [(ngModel)]="product.presentation" name="presentation" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Fabricante" [(ngModel)]="product.manufacturer" name="manufacturer" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Número do Registro" [(ngModel)]="product.recordNumber" name="recordNumber" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Bula profissional da saude" [(ngModel)]="product.bullProfessionalHealth" disabled
            name="bullProfessionalHealth" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Bula do Paciente" [(ngModel)]="product.bullPatient" disabled
            name="bullPatient" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ficha" [(ngModel)]="product.tokenTechniqueProduct" disabled
            name="tokenTechniqueProduct" />
        </mat-form-field>
      </form>
    </mat-card>
  </div>
  <button class="mb-2 btn btn-outline-success" mat-raised-button (click)="updateProduct()">
    Atualizar
  </button>

  <button class="mb-2 btn btn-outline-dark" mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>
<app-footer></app-footer>