<div class="container-fluid">
  <div class="mat-elevation-z2">
    <mat-card class="novoProduto">
      <mat-card-title class="title-matCard">Novo Produto</mat-card-title>
      <form class="d-flex ng-untouched ng-pristine ng-valid">
        <mat-form-field>
          <input matInput placeholder="Nome do Produto" [(ngModel)]="product.name" name="name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Apresentação" [(ngModel)]="product.presentation" name="presentation" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Fabricante" [(ngModel)]="product.manufacturer" name="manufacturer" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Número do Registro" [(ngModel)]="product.recordNumber" name="recordNumber" />
        </mat-form-field>
        <label for="formFile" class="form-label">Bula do profissional da saúde</label>
        <div class="input-group mb-3">

          <input type="file" accept=".pdf" (change)="addFile($event)" [multiple]=false class="form-control"
            id="bullProfessionalHealth">
        </div>
        <label for="formFile" class="form-label">Bula do paciente</label>
        <div class="input-group mb-3">
          <input type="file" accept=".pdf" (change)="addFile($event)" [multiple]=false class="form-control"
            id="bullPatient">
        </div>
        <label for="formFile" class="form-label">Ficha técnica do produto</label>
        <div class="input-group mb-3">
          <input type="file" accept=".xls,.xlsx" (change)="addFile($event)" [multiple]=false class="form-control"
            id="tokenTechniqueProduct">
        </div>
      </form>
    </mat-card>
  </div>
  <button class="mb-2 btn btn-outline-success" mat-raised-button (click)="createProduct()">
    Salvar
  </button>

  <button class="mb-2 btn btn-outline-dark" mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>