form {
    background-color: #03bb85;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 0.2rem;
    background-color: #03bb85;
    color: #fff;
}

.novoItem {
    background-color: #03bb85;
}