<div class="container-fluid">
  <div class="mat-elevation-z2">
    <mat-card class="excluirClient">
      <mat-card-title>Excluir Cliente</mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="Nome" [value]="client.name" name="name" disabled />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CPF" [value]="client.cpf" name="presentation" disabled />
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput placeholder="Endereço"
            value="{{client?.address.cep}} - {{client?.address?.localidade}}, {{client?.address?.uf}}" disabled>
        </mat-form-field>
         -->
        <mat-form-field>
          <input matInput placeholder="Telefone" [value]="client?.phone" disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" [value]="client?.email" disabled>
        </mat-form-field>
      </form>
    </mat-card>
  </div>

  <button class="mb-2 btn btn-outline-danger" mat-raised-button (click)="deleteClient()">
    Excluir
  </button>

  <button class="mb-2 btn btn-outline-dark" mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>