<div class="container-fluid">
  <div class="mat-elevation-z2">
    <mat-card class="novoClient">
      <mat-card-title>Alterar Cadastro</mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="Nome" [value]="client?.name" name="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CPF" [value]="client?.cpf" name="cpf">
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput placeholder="Cep" (change)="getCep($event.target.value)" [value]="client?.address?.cep"
            name="cep">
        </mat-form-field> -->

        <mat-form-field>
          <input matInput placeholder="Logradouro" [value]="client?.address?.logradouro" name="logradouro">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Bairro" [value]="client?.address?.bairro" name="bairro">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Cidade" [value]="client?.address?.localidade" name="localidade">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Uf" [value]="client?.address?.uf" name="uf">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Complemento" [value]="client?.address?.complemento" name="complemento">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Telefone" [value]="client?.phone" name="phone">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" [value]="client?.email" name="email">
        </mat-form-field>
      </form>
    </mat-card>
  </div>
  <button class="mb-2 btn btn-outline-success" mat-raised-button (click)="updateClient()">
    Atualizar
  </button>

  <button class="mb-2 btn btn-outline-dark" mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</div>